<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebPersonListServiceSoap" />
                <binding name="WebPersonTypeListServiceSoap" />
                <binding name="WebPersonServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:41142/WebPersonListService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebPersonListServiceSoap"
                contract="WebPersonListService.WebPersonListServiceSoap" name="WebPersonListServiceSoap" />
            <endpoint address="http://localhost:41142/WebPersonTypeListService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebPersonTypeListServiceSoap"
                contract="WebPersonTypeListService.WebPersonTypeListServiceSoap"
                name="WebPersonTypeListServiceSoap" />
            <endpoint address="http://localhost:41142/WebPersonService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebPersonServiceSoap"
                contract="WebPersonService.WebPersonServiceSoap" name="WebPersonServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>