<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ModelUnibookContainer" connectionString="metadata=res://*/ModelUnibook.csdl|res://*/ModelUnibook.ssdl|res://*/ModelUnibook.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=UniBook;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebCategoryAcademicServicesSoap" />
        <binding name="WebCategoryAcademicListServicesSoap" />
        <binding name="WebCommentAcademicServicesSoap" />
        <binding name="WebCommentAcademicListServicesSoap" />
        <binding name="WebContactListServicesSoap" />
        <binding name="WebContactServicesSoap" />
        <binding name="WebPersonServicesSoap" />
        <binding name="WebPersonListServicesSoap" />
        <binding name="WebPublicationAcademicServicesSoap" />
        <binding name="WebPublicationAcademicListServicesSoap" />
        <binding name="WebSubjectServicesSoap" />
        <binding name="WebSubjectListServicesSoap" />
        <binding name="WebPublicationMatterCareerFacultyServicesSoap" />
        <binding name="WebSubjectCareerServicesSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51301/WebCategoryAcademicServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebCategoryAcademicServicesSoap"
        contract="ServiceReferenceCategoryAcademic.WebCategoryAcademicServicesSoap"
        name="WebCategoryAcademicServicesSoap" />
      <endpoint address="http://localhost:51301/WebCategoryAcademicListServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebCategoryAcademicListServicesSoap"
        contract="ServiceReferenceCategoryAcademicList.WebCategoryAcademicListServicesSoap"
        name="WebCategoryAcademicListServicesSoap" />
      <endpoint address="http://localhost:51301/WebCommentAcademicServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebCommentAcademicServicesSoap"
        contract="ServiceReferenceCommentAcademic.WebCommentAcademicServicesSoap"
        name="WebCommentAcademicServicesSoap" />
      <endpoint address="http://localhost:51301/WebCommentAcademicListServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebCommentAcademicListServicesSoap"
        contract="ServiceReferenceCommentAcademicList.WebCommentAcademicListServicesSoap"
        name="WebCommentAcademicListServicesSoap" />
      <endpoint address="http://localhost:51301/WebContactListServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebContactListServicesSoap"
        contract="ServiceReferenceContactList.WebContactListServicesSoap"
        name="WebContactListServicesSoap" />
      <endpoint address="http://localhost:51301/WebContactServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebContactServicesSoap"
        contract="ServiceReferenceContact.WebContactServicesSoap" name="WebContactServicesSoap" />
      <endpoint address="http://localhost:51301/WebPersonServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebPersonServicesSoap"
        contract="ServiceReferencePerson.WebPersonServicesSoap" name="WebPersonServicesSoap" />
      <endpoint address="http://localhost:51301/WebPersonListServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebPersonListServicesSoap"
        contract="ServiceReferencePersonList.WebPersonListServicesSoap"
        name="WebPersonListServicesSoap" />
      <endpoint address="http://localhost:51301/WebPublicationAcademicServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebPublicationAcademicServicesSoap"
        contract="ServiceReferencePublicationAcademic.WebPublicationAcademicServicesSoap"
        name="WebPublicationAcademicServicesSoap" />
      <endpoint address="http://localhost:51301/WebPublicationAcademicListServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebPublicationAcademicListServicesSoap"
        contract="ServiceReferencePublicationAcademicList.WebPublicationAcademicListServicesSoap"
        name="WebPublicationAcademicListServicesSoap" />
      <endpoint address="http://localhost:51301/WebSubjectServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebSubjectServicesSoap"
        contract="ServiceReferenceSubject.WebSubjectServicesSoap" name="WebSubjectServicesSoap" />
      <endpoint address="http://localhost:51301/WebSubjectListServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebSubjectListServicesSoap"
        contract="ServiceReferenceSubjectList.WebSubjectListServicesSoap"
        name="WebSubjectListServicesSoap" />
      <endpoint address="http://localhost:51301/WebPublicationMatterCareerFacultyServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebPublicationMatterCareerFacultyServicesSoap"
        contract="ServiceReferencePublicationMatterCareerFaculty.WebPublicationMatterCareerFacultyServicesSoap"
        name="WebPublicationMatterCareerFacultyServicesSoap" />
      <endpoint address="http://localhost:51301/WebSubjectCareerServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebSubjectCareerServicesSoap"
        contract="ServiceReferenceSubjectCareer.WebSubjectCareerServicesSoap"
        name="WebSubjectCareerServicesSoap" />
    </client>
  </system.serviceModel>
</configuration>