<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebRoleServiceSoap" />
        <binding name="WebGenderServiceSoap" />
        <binding name="WebUserServiceSoap" />
        <binding name="WebCareerServiceSoap" />
        <binding name="WebFacultyServiceSoap" />
        <binding name="WebUserCareerServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:24654/WebRoleService.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebRoleServiceSoap"
        contract="ServiceRoleReference.WebRoleServiceSoap" name="WebRoleServiceSoap" />
      <endpoint address="http://localhost:24654/WebGenderService.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebGenderServiceSoap"
        contract="ServiceGenderReference.WebGenderServiceSoap" name="WebGenderServiceSoap" />
      <endpoint address="http://localhost:24654/WebUserService.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebUserServiceSoap"
        contract="ServiceUserReference.WebUserServiceSoap" name="WebUserServiceSoap" />
      <endpoint address="http://localhost:24654/WebCareerService.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebCareerServiceSoap"
        contract="ServiceCareerReference.WebCareerServiceSoap" name="WebCareerServiceSoap" />
      <endpoint address="http://localhost:24654/WebFacultyService.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebFacultyServiceSoap"
        contract="ServiceFacultyReference.WebFacultyServiceSoap" name="WebFacultyServiceSoap" />
      <endpoint address="http://localhost:24654/WebUserCareerService.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebUserCareerServiceSoap"
        contract="ServiceUserCareerReference.WebUserCareerServiceSoap"
        name="WebUserCareerServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>