<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebPersonServiceSoap" />
                <binding name="WebPersonListServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:41142/WebPersonService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebPersonServiceSoap"
                contract="ServiceReferencePerson.WebPersonServiceSoap" name="WebPersonServiceSoap" />
            <endpoint address="http://localhost:41142/WebPersonListService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebPersonListServiceSoap"
                contract="ServiceReferencePersonList.WebPersonListServiceSoap"
                name="WebPersonListServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>